.login-form {
    margin: auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #d0d0d0;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    margin :auto;
}
table{
    width: 100%;
    margin-top: 10%;
    margin-right: 8px;
}
.input-col{
    width: 100%;
}
.txt-input{
    font-weight: 1000;
}
.input-txt{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: sans-serif;
}
.input-txt:hover::placeholder{
    transition-duration: 0.5s;
    transform: scale(1.03, 1.03);
}
.rememberme{
    margin-top: 5%;
}
.btn-login{
    transition-duration: 0.5s;
    margin-top: 30px;
    color: white;
    background-color: #4CAF50;
    border: 0;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}
.btn-login:hover{
    transition-duration: 0.5s;
    background-color: #8ae18d;
    color: #4f4f4f;
    transform: scale(1.03,1.03);
}
.btn-cancel{
    transition-duration: 0.5s;
    margin-top: 20px;
    color: white;
    background-color: crimson;
    border: 0;
    padding: 10px;
    width: 30%;
    cursor: pointer;
}
.btn-cancel:hover{
    transition-duration: 0.5s;
    background-color: #ff8f8f;
    color: #4f4f4f;
    transform: scale(1.03,1.03);
}